on:
  pull_request:
  push:
    branches:
    - '*'
    tags:
    - 'v*'

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2

    # Install dependencies
    - uses: actions/setup-node@v1
      with:
        node-version: '12'
        registry-url: 'https://registry.npmjs.org'
    - run: npm install --global npm@7
    - run: npm ci

    # Build
    - run: npm pack
    - uses: actions/upload-artifact@v2
      with:
        name: npm package
        path: ./ni-eslint-config-*.tgz
        if-no-files-found: error

    # Test
    - run: npm run test-typescript
    - run: npm run test-typescript-typed
    - run: npm run test-angular
    - run: npm run print-typescript-properties
    - run: npm run print-angular-properties
    - run: npm run print-evaluated-rules

    # Publish
    - if: startsWith(github.ref, 'refs/tags/v')
      run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
