on:
  pull_request:
  push:
    branches:
    - '*'
    tags:
    - 'v*'

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0 # Required for changelog detection

    # Install dependencies
    - uses: actions/setup-node@v1
      with:
        node-version: '12'
        registry-url: 'https://registry.npmjs.org'
    - run: npm install --global npm@7
    - run: npm ci

    # Build
    - run: npm run pack
    - uses: actions/upload-artifact@v2
      with:
        name: packages
        path: packages/**/*.tgz
        if-no-files-found: error

    # Test
    - run: npm test
    - run: npm run print-available-rules
    - run: npm run print-evaluated-rules

    # Check Changelog
    - if: github.repository_owner == 'ni'
    - run: npm run check
